@charset "utf-8";

//form
fieldset {
  margin:0;
  padding:0;
  border:0;
}
input{
  &[type="checkbox"], &[type="radio"] {
    position:relative;
    width:20px;
    height:20px;
    border:1px solid #bcbcbc;
    background-color:#fff;
    vertical-align:top;
    & + label {
      display:inline-block;
      padding-left:8px;
      color:#787878;
      vertical-align:top;
    }
    &:checked {
      border-color:$primary;
      &+ label {color:#000;}
    }
    &[disabled] {
      background-color:#f4f4f4;
      & + label {color:#787878;}
    }
  }
  &[type="checkbox"] {
    &:checked {
      background-color:$primary;
      &:after {
        content:'';
        display:block;
        position:absolute;
        top:4px;
        left:4px;
        width:8px;
        height:4px;
        border:solid #fff;
        border-width:0 0 2px 2px;
        @include transform(rotate(-45deg));
      }
    }
  }
  &[type="radio"] {
    border-radius:100%;
    &:checked{
      border-color:$primary;
      &:after{
        content:'';
        position:absolute;
        top:4px;
        left:4px;
        width:10px;
        height:10px;
        border-radius:100%;
        background-color:$primary;
      }
    }
  }
  &[type="text"],
  &[type="tel"],
  &[type="number"],
  &[type="password"],
  &[type="search"] {
    width:100%;
    height:44px;
    padding:10px 11px;
    border:1px solid #d0d0d0;
    background-color:transparent;
    font-family:inherit;
    caret-color:$primary;
    &::placeholder {
      color:#959595;
      font-family:inherit;
    }
    &:focus {border-color:$primary;}
    &:invalid {border-color:$accent;}
  }
}
textarea {
  width:100%;
  padding:11px;
  font-family:inherit;
  resize:none;
  &::placeholder {
    color:#959595;
    font-family:inherit;
  }
}
select {
  width:100%;
  height:44px;
  padding:10px 11px;
  border:1px solid #d0d0d0;
  border-radius: 0;
  background-color:transparent;
  font-family:inherit;
  caret-color:$primary;
  appearance:none;
  select::-ms-expand {
    display:none;
  }
}
select,input,textarea {
  &[disabled] {
    border-color:#f0f0f0;
    background:#f0f0f0;
    color:#787878;
    opacity:1;
  }
}
button {
  cursor:pointer;
  &[disabled] {cursor:default;}
}
