@charset "utf-8";
// weight
$fw-default: 400;
$fw-medium: 500;
$fw-bold: 700;

// size
$fs-big: 20px;
$fs-base: 16px;
$fs-small: 14px;

// color
$fc-invert:#fff;
$line-color:#e8e8e8;
$primary:#6648c8;
$accent:#f86454;
